      <% question = @question if @question %>
      <tr id="question_zeile_<%= question.id %>">
        <td id="question_<%= question.id %>">
          <%= best_in_place question, :title, :type => :textarea %>
          <br />

          <%= link_to raw("<i class='fi-results ocker icon-normal'></i>[ Antworten anzeigen ]"), answers_question_path(question.id), :class => "smallcaps", :remote => true %>
          
          <i class="fi-pause ocker icon-normal"></i>
          <%= link_to(raw("<i class='fi-paperclip ocker icon-normal'></i> [ Antwort hinzufügen ]"), 
              new_answer_path(:question_id => question.id), 
              :remote => true, :title => "Neue Antwort zur Frage hinzufuegen.",
              :html => 'data-reveal-id="day_modal" data-reveal-ajax="true"') %>
        </td>
        <td><%= question.category %></td> 
        <td><%= best_in_place question, :order %></td>
        <td><%= best_in_place question, :points %></td>
        <td>
          <%= link_to(raw("<i class='fi-pencil dark-green icon-normal'></i>"), 
              edit_question_path(question.id), 
              :remote => true, :title => "Frage editieren.",
              :html => 'data-reveal-id="day_modal" data-reveal-ajax="true"') %>
        </td>
        <td>
          <%= link_to(raw("<i class='fi-trash dark-green icon-normal'></i>"), 
              question, 
              :remote => true, :title => "Frage entfernen", method: :delete, data: { confirm: 'Element entfernen?' },
              :html => 'data-reveal-id="day_modal" data-reveal-ajax="true"') %>
        </td>
        <td>
          <%= link_to(raw("<i class='fi-male-female dark-green icon-normal'></i>"), 
              clone_questions_path(:id => question.id), 
              :remote => true, :title => "Frage clonen",
              :html => 'data-reveal-id="day_modal" data-reveal-ajax="true"') %>
        </td>
        <td>
          <%= link_to(raw("<i class='fi-crop dark-green icon-normal'></i>"), 
              lostandfound_questions_path(:id => question.id), 
              :remote => true, :title => "Frage verschieben.",
              :html => 'data-reveal-id="day_modal" data-reveal-ajax="true"') %>
        </td>
      </tr>