<%= simple_form_for(@classtest) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :category, collection: Classtest::CATEGORIES %>
    <%= f.input :testtype_id, collection: Testtype.all %>
    <%= f.input :lecture_id, collection: JSON.parse($redis.get("lectures")).map{|l| [l['title'],l['id']] } %>
    <%= f.input :duration %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
