
<ul class="pricing-table">
  <li class="title"><%= @classtest.title %></li>
  <li class="description"><%= @classtest.description %></li>
  <li class="bullet-item">Testtyp: <%= @classtest.testtype.title %></li>
  <li class="bullet-item">Kurs: <%= @lecture.title unless @lecture.blank? %></li>
  <li class="bullet-item">Kategorie: <%= @classtest.category %></li>
  <li class="bullet-item">Dauer: <%= @classtest.duration %></li>
  <li class="cta-button"><%= link_to "Alle Klassenarbeiten", classtests_path, :class => "button" %></li>
</ul>

<div class="panel callout radius">
  <h5><%= @classtest.studenttests.count %> Schülertests sind zugeordnet</h5>
  <ul class="inline-list">
    <li><%= link_to 'Edit', edit_classtest_path(@classtest) %></li>
    <li><%= link_to 'Alle anzeigen', classtests_path %></li>
  </ul>
</div>



