<%= simple_form_for(@studentanswer, :remote => true) do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
    <%= f.input :question_id, :as => 'hidden' %>
    <%= f.input :studenttest_id, :as => 'hidden' %>
    <%= f.input :result, label: false, :as => :text, :input_html => { :rows => 7 , :style => 'width: 100%'} %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
