<%= simple_form_for(@testtype) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :coursetype, collection: Testtype::COURSES %>
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :test_avatar, :as => :file %>
    <%= f.input :create_questions, :as => :radio_buttons %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
