<h1>Listing testtypes</h1>

<table>
  <tr>
    <th>Coursetype</th>
    <th>Title</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @testtypes.each do |testtype| %>
  <tr>
    <td><%= testtype.coursetype %></td>
    <td><%= testtype.title %></td>
    <td><%= testtype.description %></td>
    <td><%= link_to 'Show', testtype %></td>
    <td><%= link_to 'Edit', edit_testtype_path(testtype) %></td>
    <td><%= link_to 'Destroy', testtype, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Testtype', new_testtype_path %>
