<h1>Listing testtypes</h1>

<table>
  <tr>
    <th>Coursetype</th>
    <th>Title</th>
    <th>Description</th>
    <th></th>

  </tr>

<% @testtypes.each do |testtype| %>
  <tr>
    <td><%= testtype.coursetype %></td>
    <td><%= best_in_place testtype, :title %></td>
    <td><%= best_in_place testtype, :description, :type => :textarea %></td>
    <td>
      <%= link_to raw("<i class='fi-eye dark-green icon-normal'></i>"), testtype %>
      <i class='fi-social-joomla trenner-icon-small'></i>
      <%= link_to raw("<i class='fi-pencil dark-green icon-normal'></i>"), edit_testtype_path(testtype) %>
      <i class='fi-social-joomla trenner-icon-small'></i>
      <%= link_to raw("<i class='fi-trash dark-green icon-normal'></i>"), testtype, method: :delete, data: { confirm: 'Are you sure?' } %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Testtype', new_testtype_path %>
