<h1>Listing studenttests</h1><% if @classtests.blank? %>
  <div class="panel callout radius">
    <h3>Keine Tests vorhanden.</h3>
  </div>
<% else %>
  <h3>Tests <%= @title %></h3>
  <table>
    <thead>
      <tr>
        <th>Titel</th>
        <th>Beschreibung</th>
        <th>Dauer</th>
        <th>Start</th>
        <th>Ende</th>
        <th>Punkte</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <% @studenttests.each do |studenttest| %>
      <tr>
        <td><%= studenttest.classtest.title %></td>
        <td><%= studenttest.classtest.description %></td>
        <td><%= studenttest.classtest.duration %></td>
        <td><%= studenttest.start %></td>
        <td><%= studenttest.end %></td>
        <td><%= studenttest.points %></td>
        <td>
          <nobr>
          <% Studenttest::STATES.each do |state| %>
            <% icon = studenttest.current_state == state ? "dark-blue" : "dark-red" %>
            <%= raw("<i title='#{state}' class='fi-#{Studenttest::ICON_STATES[state]} #{icon} icon-normal'></i></span>") %>  
          <% end %>
          </nobr>
        </td>
        <td>
          <% if studenttest.classtest.current_state == 'open' %>
            <% if studenttest.current_state == 'new' %>
              <%= link_to("Test starten", studenttest_path(studenttest)) %>
            <% elsif studenttest.current_state == 'started'%>
              <%= link_to("Test fortsetzen", studenttest_path(studenttest)) %>
            <% elsif studenttest.current_state == 'closed'%>
              Der Test kann nicht bearbeitet werden.
            <% elsif studenttest.current_state == 'shipped'%>
              <%= link_to("Ergebnis", result_studenttest_path(studenttest), :format => 'pdf') %>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
  </table>
<% end %>
