<h3>Tests <%= "fuer #{eval($redis.hget(current_user.login.to_sym, :classwork_lecture))['title']}" unless current_user.admin? %></h3>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Category</th>
      <th>Lecture</th>
      <th>Duration</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
<% @tests.each do |test| %>
  <tr>
    <td><%= test.title %></td>
    <td><%= test.description %></td>
    <td><%= test.category %></td>
    <td><%= test.lecture_id %></td>
    <td><%= test.duration %></td>
    <% if current_user.admin? %>
      <td>
        <% Test::STATES.each do |state| %>
          <%= test.current_state == state ? raw("<span class='current_state'>#{state}</span>") : link_to(state,state_test_path(test,:state => state))  %> |  
        <% end %>
      </td>
      <td>
        <%= link_to raw("<i class='fi-eye dark-green icon-normal'></i>"), test %>
        <%= link_to raw("<i class='fi-pencil dark-green icon-normal'></i>"), edit_test_path(test) %>
        <%= link_to raw("<i class='fi-trash dark-green icon-normal'></i>"), test, method: :delete, data: { confirm: 'Are you sure?' } %>
      </td>
    <% else %>
      <td>
        <% if test.current_state == 'open' %>
          <%= link_to(test.current_state, test_path(test,:state => test.current_state)) %>
        <% else %>
          <%= test.current_state %>
        <% end %>

      </td>
    <% end %>
  </tr>
<% end %>
</tbod>
</table>
<div class="panel callout radius">
  <h5><%= link_to "Neuen Test anlegen", new_test_path %></h5>
</div>

