<h3><%= @test.title %></h3>
<p>
  Testtyp: <%= @test.testtype.title %><br />
  Kurs: <%= JSON.parse($redis.get("lectures")).find{|l| l['id'] == @test.lecture_id}['title'] %><br />
  Kategorie: <%= @test.category %><br />
  Dauer: <%= @test.duration %><br />
  Beschreibung: <%= @test.description %>
</p>



<%= link_to 'Edit', edit_test_path(@test) %> |
<%= link_to 'Back', tests_path %>
